.login {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  @extend %container;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form {
  padding-top: 10px;
  width: 100%;
  max-width: 290px;

  &.email-sent {
    max-width: 680px;
  }
}
