.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  height: $searchBarHeight;
  background-color: #fff;
  border-radius: 2px;
  max-width: 420px;
  width: 100%;
  border: 1px solid #f3f3f3;
}

.input {
  height: $searchBarHeight;
  border: 0;
  width: 100%;
  background-color: #fff;
  padding: 0px 8px;
  display: block;
  font-size: 12px;

  &:focus {
    outline: none;
  }
}

.button {
  height: $searchBarHeight;
  border: 0;
  background-color: #fff;
  color: $black;
  padding: 0px 12px;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}
