.form {
  
}

.annualSwitcher {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 64px;
}

.title {
  margin-bottom: 0;
  color: #dddddd;
  font-size: 12px;
  line-height: 17px;

  &.active {
    color: #424242;

    .badge {
      opacity: 1;
    }
  }

  .badge {
    border-radius: 4px;
    background-color: #f4515e;
    font-size: 11px;
    color: #fdfdfd;
    font-weight: 700;
    display: inline-block;
    padding: 2px 8px;
    text-transform: uppercase;
    margin-left: 6px;
    opacity: 0.3;
  }
}

.switcher {
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;

  span {
    width: 22px !important;
    height: 22px !important;
  }
}
