.schedule {
  padding-top: 20px;
  padding-bottom: 32px;
  @extend %container;
}

.container {
  display: flex;
}

.content {
  width: calc(100% - 342px);
}

.sidebar {
  width: 342px;
  padding-left: 8px;
}

.title {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 400;
}

.lists {
  margin-bottom: 80px;
}
